body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
}

:root {
    --eerie-black: #1F1E1E;
    --licorice: #25181B;
    --wenge: #604D53;
    --cadet-gray: #9DA3A4;
    --puce: #DB7F8E;
    --french-gray: #D5C5C8;
    --misty-rose: #FFDBDA;
    --lavander-blush: #FBEEF0;
    --snow: #F7F3F3;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.full-height {
    height: 100vh;
}

.bg-col-1 {
    background-image: url('Images/1.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    transition: .5s;
}
.bg-col-1:hover {
    opacity: 100%;
}
.bg-col-2 {
    background-image: url('Images/2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    transition: .5s;
}
.bg-col-2:hover {
    opacity: 100%;
}
.bg-col-3 {
    background-image: url('Images/3.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    transition: .5s;
}
.bg-col-3:hover {
    opacity: 100%;
}
.bg-col-4 {
    background-image: url('Images/4.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;
    transition: .5s;
}
.bg-col-4:hover {
    opacity: 100%;
}