body {
    background-color: var(--light-yellow);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
}

:root {
    --dark: #303952;
    --light-blue: #63cdda;
    --light-yellow: #f7d794;
    --dark-yellow: #f5cd79;
    --light-pink: #f8a5c2;
    --purple: #574b90;
}

.navbar {
    background-color: var(--light-pink);
    color: var(--light-blue);
}

.nav-item {
    color: var(--light-blue);
}